apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: app
          image: <YOUR_ECR>/notification-service:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: notif-smtp-secret